@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #7159c1;
    --secondary-color: #121214;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #fff;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.links a:hover {
    color: var(--primary-color);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 700ms ease-in-out;
}

/* card */

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;

    margin: 45px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 7px 10px 6px -2px rgba(0, 0, 0, 0.8);

    animation-name: up;
    animation-duration: 0.7s;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

/* details */

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 14px 0;
}

.details .item:last-child {
    border: none;
    padding-bottom: 0;
}
.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

/*Coloca detahes na atividades separadas por virgulas "label"*/
.details .item span {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #fff;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/* form */

input, select {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 15px;

}

input[type="radio"] {
    width: initial;
    margin: 1px 6px 1px -5px;
    vertical-align: bottom;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

tbody tr td:last-child a,
button[type="submit"],
a.button {
    padding: 8px 32px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    margin-top: 32px;
    color: #fff;
    font-size: 16px;
    width: 100%;
}

tbody tr td:last-child a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}


/* button[type="submit"]:hover  {
    filter: brightness(0.7);
    color: #fff;
} */

/* a.button:hover {
    filter: brightness(0.7);
    color: #fff;


} */

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: lightcoral;
}

/* index instructors */

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
    font-weight: bold;
    color: #555;


}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

th {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}

tbody tr td {
    box-sizing: border-box;
}

 tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px #000;
    border: 1px solid #fff;
}
.service {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #fff;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

tbody tr td:last-child span img {
    /* background-color: red; */
    content: "";
    width: 1.8rem;
    height: 1.5rem;
    /* color: var(--secondary-color); */
    background-image: url('/public/assets/eye.png');
}

.table-container > a {
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 4px;

    margin-bottom: 16px;
    display: inline-block;
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}

.table-container thead tr th:nth-last-child(2), td:nth-last-child(2) {
    text-align: center;
    
}

/*filter*/
.table-container .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 32PX;
}

.table-container .header a {
    margin: 0;
    width: 120px;
}

.table-container .header form {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    grid-gap: 8px;
}

.table-container .header form input {
    border: 1px solid #eee;
    padding: 7px 8px;
    box-sizing: border-box;
    border-radius: 4px;
}

.table-container .header form button {
    margin: 0;
}

/* pagination */


.table-container {
    display: grid;
    grid-template: 64px 16px / 1fr;
    /* grid-template: 64px 1fr 16px / 1fr; */
}

.table-container .header {
    margin: 0;
    align-self: start;
}

.table-container .pagination {
    margin: 0;
    align-self: end;
    justify-self: center;
}

.pagination a,
.pagination span {
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 16px;
}

.paginariion a:hover {
    filter: brightness(0.3);
    border-bottom: 1px solid var(--primary-color);
} 